.cropper-container {
  direction: ltr;
  font-size: 0;
  line-height: 0;
  position: relative;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cropper-container img {
  display: block;
  height: 100%;
  image-orientation: 0deg;
  max-height: none !important;
  max-width: none !important;
  min-height: 0 !important;
  min-width: 0 !important;
  width: 100%;
}

.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.cropper-wrap-box,
.cropper-canvas {
  overflow: hidden;
}

.cropper-drag-box {
  background-color: #fff;
  opacity: 0;
}

.cropper-modal {
  background-color: #000;
  opacity: 0.5;
}

.cropper-view-box {
  display: block;
  height: 100%;
  outline: 1px solid #39f;
  outline-color: rgba(51, 153, 255, 0.75);
  overflow: hidden;
  width: 100%;
}

.cropper-dashed {
  border: 0 dashed #eee;
  display: block;
  opacity: 0.5;
  position: absolute;
}

.cropper-dashed.dashed-h {
  border-bottom-width: 1px;
  border-top-width: 1px;
  height: calc(100% / 3);
  left: 0;
  top: calc(100% / 3);
  width: 100%;
}

.cropper-dashed.dashed-v {
  border-left-width: 1px;
  border-right-width: 1px;
  height: 100%;
  left: calc(100% / 3);
  top: 0;
  width: calc(100% / 3);
}

.cropper-center {
  display: block;
  height: 0;
  left: 50%;
  opacity: 0.75;
  position: absolute;
  top: 50%;
  width: 0;
}

.cropper-center::before,
.cropper-center::after {
  background-color: #eee;
  content: ' ';
  display: block;
  position: absolute;
}

.cropper-center::before {
  height: 1px;
  left: -3px;
  top: 0;
  width: 7px;
}

.cropper-center::after {
  height: 7px;
  left: 0;
  top: -3px;
  width: 1px;
}

.cropper-face,
.cropper-line,
.cropper-point {
  display: block;
  height: 100%;
  opacity: 0.1;
  position: absolute;
  width: 100%;
}

.cropper-face {
  background-color: #fff;
  left: 0;
  top: 0;
}

.cropper-line {
  background-color: #39f;
}

.cropper-line.line-e {
  cursor: ew-resize;
  right: -3px;
  top: 0;
  width: 5px;
}

.cropper-line.line-n {
  cursor: ns-resize;
  height: 5px;
  left: 0;
  top: -3px;
}

.cropper-line.line-w {
  cursor: ew-resize;
  left: -3px;
  top: 0;
  width: 5px;
}

.cropper-line.line-s {
  bottom: -3px;
  cursor: ns-resize;
  height: 5px;
  left: 0;
}

.cropper-point {
  background-color: #39f;
  height: 5px;
  opacity: 0.75;
  width: 5px;
}

.cropper-point.point-e {
  cursor: ew-resize;
  margin-top: -3px;
  right: -3px;
  top: 50%;
}

.cropper-point.point-n {
  cursor: ns-resize;
  left: 50%;
  margin-left: -3px;
  top: -3px;
}

.cropper-point.point-w {
  cursor: ew-resize;
  left: -3px;
  margin-top: -3px;
  top: 50%;
}

.cropper-point.point-s {
  bottom: -3px;
  cursor: s-resize;
  left: 50%;
  margin-left: -3px;
}

.cropper-point.point-ne {
  cursor: nesw-resize;
  right: -3px;
  top: -3px;
}

.cropper-point.point-nw {
  cursor: nwse-resize;
  left: -3px;
  top: -3px;
}

.cropper-point.point-sw {
  bottom: -3px;
  cursor: nesw-resize;
  left: -3px;
}

.cropper-point.point-se {
  bottom: -3px;
  cursor: nwse-resize;
  height: 20px;
  opacity: 1;
  right: -3px;
  width: 20px;
}

@media (min-width: 768px) {
  .cropper-point.point-se {
    height: 15px;
    width: 15px;
  }
}

@media (min-width: 992px) {
  .cropper-point.point-se {
    height: 10px;
    width: 10px;
  }
}

@media (min-width: 1200px) {
  .cropper-point.point-se {
    height: 5px;
    opacity: 0.75;
    width: 5px;
  }
}

.cropper-point.point-se::before {
  background-color: #39f;
  bottom: -50%;
  content: ' ';
  display: block;
  height: 200%;
  opacity: 0;
  position: absolute;
  right: -50%;
  width: 200%;
}

.cropper-invisible {
  opacity: 0;
}

.cropper-bg {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
}

.cropper-hide {
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}

.cropper-hidden {
  display: none !important;
}

.cropper-move {
  cursor: move;
}

.cropper-crop {
  cursor: crosshair;
}

.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
  cursor: not-allowed;
}


@font-face {
  font-family: 'icomoon';
  src: url('./icomoon.eot?64640s');
  src: url('./icomoon.eot?64640s#iefix') format('embedded-opentype'),
    url('./icomoon.ttf?64640s') format('truetype'),
    url('./icomoon.woff?64640s') format('woff'),
    url('./icomoon.svg?64640s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="designer-icon-"],
[class*=" designer-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.designer-icon-delete:before {
  content: "\e900";
}

.designer-icon-counterclockwise:before {
  content: "\e901";
}

.designer-icon-clockwise:before {
  content: "\e902";
}

.designer-icon-loop:before {
  content: "\e903";
}

.designer-icon-photo-unfold:before {
  content: "\ea50";
}

.designer-interface-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 3.3rem;
  font-size: 1rem;
  flex: 1;
  padding: 0 10px;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
}

.designer-interface-container .designer-interface-btn {
  cursor: pointer;
  background: #131313;
  color: #fff;
  border-radius: 25px;
  padding: 4px 30px;
  width: auto;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
}

.designer-interface-container .designer-interface-btn~input {
  display: none;
}

.designer-interface-container .designer-pop-container,
.designer-interface-container .designer-img-pop {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  margin: 0;
  background: rgba(0, 0, 0, .7);
  z-index: 20002;
}


.designer-pop-container .designer-pop-dialog,
.designer-interface-container .designer-img-dialog {
  position: relative;
  margin: 15vh auto 0;
  border-radius: 2px;
  width: fit-content;
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.designer-interface-container .designer-img-dialog {
  margin: 10vh auto 0;
}


.designer-pop-container .designer-pop-body {
  padding: 25px 25px 30px;
}

.designer-pop-container .designer-canvas-container {
  padding: 0 20px 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.designer-pop-container .designer-canvas-area {
  position: relative;
  border: 1px solid gray;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC");
}

.designer-pop-container .designer-canvas-area .designer-background-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.designer-pop-container .designer-canvas-img {
  border: none;
  max-width: 100%;
  max-height: 100%;
}

.designer-pop-container .designer-canvas-shadow {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: .5;
  cursor: move;
}

.designer-pop-container .designer-view-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 400px;
  height: 180px;
  font-size: 0;
  line-height: 0;
  cursor: move;
}

.designer-pop-container .designer-view-box {
  overflow: hidden;
  width: 100%;
  height: 100%;
  outline: 1px solid #39f;
  outline-color: rgba(51, 153, 255, .75);
}

.designer-pop-container .designer-view-box>img {
  max-height: none !important;
  max-width: none !important;
  min-height: 0 !important;
  min-width: 0 !important;

  width: 500px;
  height: 200px;
  pointer-events: none
}

.designer-pop-container .designer-dashed {
  position: absolute;
  display: block;
  border: 0 dashed #eee;
  opacity: .5;
}

.designer-pop-container .designer-dashed.dashed-center {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  opacity: .75;
}

.designer-pop-container .designer-dashed.dashed-center::before,
.designer-pop-container .designer-dashed.dashed-center::after {
  position: absolute;
  display: block;
  background-color: #eee;
  content: " ";
}

.designer-pop-container .designer-dashed.dashed-center::before {
  left: -3px;
  top: 0;
  width: 7px;
  height: 1px;
}

.designer-pop-container .designer-dashed.dashed-center::after {
  left: 0;
  top: -3px;
  width: 1px;
  height: 7px;
}

.designer-pop-container .designer-dashed.dashed-height {
  left: 0;
  top: 33.33333%;
  border-bottom-width: 1px;
  border-top-width: 1px;
  width: 100%;
  height: 33.33333%;
}

.designer-pop-container .designer-dashed.dashed-width {
  left: 33.33333%;
  top: 0;
  border-left-width: 1px;
  border-right-width: 1px;
  width: 33.33333%;
  height: 100%;
}

.designer-pop-container .designer-line {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #39f;
  opacity: .1;
}

.designer-pop-container .designer-line.line-left {
  top: 0;
  left: -3px;
  width: 5px;
  cursor: ew-resize;
}

.designer-pop-container .designer-line.line-right {
  top: 0;
  right: -3px;
  width: 5px;
  cursor: ew-resize;
}

.designer-pop-container .designer-line.line-top {
  top: -3px;
  right: 0;
  height: 5px;
  cursor: ns-resize;
}

.designer-pop-container .designer-line.line-bottom {
  bottom: -3px;
  right: 0;
  height: 5px;
  cursor: ns-resize;
}

.designer-pop-container .designer-point {
  position: absolute;
  display: block;
  width: 5px;
  height: 5px;
  background-color: #39f;
  opacity: .75;
}

.designer-pop-container .designer-point.point-w {
  cursor: ew-resize;
  left: -3px;
  top: 50%;
  margin-top: -3px;
}

.designer-pop-container .designer-point.point-wn {
  left: -3px;
  top: -3px;
  cursor: nwse-resize;
}

.designer-pop-container .designer-point.point-n {
  left: 50%;
  top: -3px;
  margin-left: -3px;
  cursor: ns-resize;
}

.designer-pop-container .designer-point.point-ne {
  right: -3px;
  top: -3px;
  cursor: nesw-resize;
}

.designer-pop-container .designer-point.point-e {
  right: -3px;
  top: 50%;
  margin-top: -3px;
  cursor: ew-resize;
}

.designer-pop-container .designer-point.point-es {
  right: -3px;
  bottom: -3px;
  cursor: nwse-resize;
}

.designer-pop-container .designer-point.point-s {
  left: 50%;
  margin-left: -3px;
  bottom: -3px;
  cursor: ns-resize;
}

.designer-pop-container .designer-point.point-sw {
  left: -3px;
  bottom: -3px;
  cursor: nesw-resize;
}

.designer-f24 {
  font-size: 24px;
}

.designer-f28 {
  font-size: 28px;
}

.designer-f38 {
  font-size: 38px;
}

.designer-tc {
  text-align: center;
}

.designer-pointer {
  cursor: pointer;
}

.designer-pointer:hover {
  opacity: .8;
}

.designer-interface-container .designer-pop-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0 20px;
}

.designer-pop-container .designer-tool-bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  padding: 0 20px;
  color: #606266;
}

.designer-pop-container .designer-pop-prompt {
  margin: 10px 0;
  color: #606266;
}

.designer-pop-container .designer-progress-container {
  margin: 10px 0 15px;
  position: relative;
}
.designer-pop-container .designer-progress-bar {
  vertical-align: middle;
}
.designer-pop-container .designer-progress-bar-outer {
  position: relative;
  overflow: hidden;
  border-radius: 100px;
  height: 18px;
  background-color: #ebeef5;
  vertical-align: middle;
}
.designer-pop-container .designer-progress-bar-inner {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  background-color: #409eff;
  text-align: right;
  border-radius: 100px;
  line-height: 1;
  white-space: nowrap;
  -webkit-transition: width .6s ease;
  transition: width .6s ease;
  color: #fff;
}
.designer-pop-container .designer-progress-bar-text {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 12px;
  margin: 0 5px;
}
.designer-pop-container .designer-progress-bar-text::after {
  display: inline-block;
  content: "";
  height: 100%;
  vertical-align: middle;
}
.designer-pop-container .designer-pop-btn {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  -webkit-transition: .1s;
  transition: .1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 12px 20px;
  font-size: 14px;
}
.designer-pop-container .designer-pop-btn.designer-cancel-btn:hover {
  border-color: #c6e2ff;
  color: #409eff;
  background-color: #ecf5ff;
}
.designer-pop-container .designer-pop-btn.designer-confirm-btn {
  margin-left: 10px;
  border-color: #58bbf3;
  color: #fff;
  background-color: #58bbf3;
}
.designer-pop-container .designer-pop-btn.designer-confirm-btn.disabled {
  opacity: 0.2;
  cursor: not-allowed;
}
.designer-pop-container .designer-pop-btn.designer-confirm-btn:hover {
  border-color: #409eff;
  background-color: #409eff;
}

.designer-pop-container .cropper-point.point-se {
  width: 5px;
  height: 5px;
}
.designer-interface-container .designer-preview-sm {
  overflow: hidden;
  display: inline-block;
  height: 48px;
  vertical-align: middle;
  cursor: pointer;
}
.designer-interface-container .designer-preview-img {
  max-height: 100%;
  /* border: 1px solid#e8e8e8; */
}
.designer-interface-container .designer-preview-lg {
  width: 600px;
  padding: 0 20px 20px;
}

.designer-interface-container-v2 .to-designer-container > a {
  display: block;
  border: none;
  border-radius: 4px !important;
  margin-bottom: 0 !important;
  width: 100% !important;
  padding: 17px;
  font-size: 16px;
  text-align: center;
  color: #fff !important;
  font-weight: 700;
  background-color: #FF0136;
}
form[action="/cart/add"] .designer-interface-container-v2~div button {
  display: none !important;
}
.designer-dialog-container-v2 {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: #fff;
  display: none;
}
@media only screen and (min-width: 1024px) {
  .designer-dialog-container-v2 {
    position: absolute;
    box-shadow: -2px 0 6px rgba(0,0,0,0.1);
    z-index: 1;
  }
  .designer-dialog-container-v2 .designer-v2-area-header{
    box-shadow: 0 1px 0 rgba(0,0,0,0.15);
  }
}
@media only screen and (max-width: 1024px) {
  #MainContent {
    z-index: 10;
  }

}
svg:not(:root) {
  overflow: hidden;
}
.designer-dialog-container-v2 .designer-v2-area-header {
  width: 100%;
  height: 62px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.designer-dialog-container-v2 .designer-v2-event-close {
  width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.designer-dialog-container-v2 .designer-v2-icon {
  width: 30px;
    height: 30px;
    fill: #ff0136;
}

.designer-dialog-container-v2 .designer-v2-price-sale {
  width: auto;
  flex: 1;
  overflow: hidden;
}

.designer-dialog-container-v2 .designer-v2-price-sale>h2 {
  width: 100%;
  margin: 0;
  font-size: 17px;
  font-weight: 700;
  color: #131313;
  letter-spacing: 0;
}
.designer-dialog-container-v2 .designer-v2-price-sale>p {
  width: 100%;
  margin: 2px 0 0;
  font-size: 11px;
  color: #a1a1a1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@keyframes designer-v2-loading {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.designer-dialog-container-v2 .designer-v2-add-cart-cart {
  width: auto;
  background-color: #ff0136;
  height: 42px;
  padding: 0 15px;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 0 10px;
}
.designer-dialog-container-v2 .designer-v2-buy-it-now {
  width: auto;
  background-color: #FFE94E;
  height: 42px;
  padding: 0 15px;
  border-radius: 4px;
  color: #131313;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 0 10px;
}
.designer-dialog-container-v2 .designer-v2-add-cart-cart span,
.designer-dialog-container-v2 .designer-v2-buy-it-now span {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  display: none;
}
.designer-dialog-container-v2 .designer-v2-add-cart-cart span img,
.designer-dialog-container-v2 .designer-v2-buy-it-now span img {
  width: 20px;
  height: 20px;
  animation: designer-v2-loading 1s linear infinite;
}
.designer-dialog-container-v2 a {
  text-decoration: none;
}
.designer-dialog-container-v2 .designer-v2-area-body {
  width: 100%;
  height: calc(100% - 62px);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 15px 10px;
  position: relative;
  z-index: 0;
}

.designer-dialog-container-v2 .designer-v2-preview-image {
  display: none;
  margin: 5px 5px 15px;
  padding: 15px;
  border: 1px solid #d0d0d0;
  border-radius: 4px;
}
.designer-dialog-container-v2 .designer-v2-preview-image h3 {
  margin: 0 0 15px;
  font-size: 16px;
  font-weight: 700;
  color: #131313;
  display: block;
}
.designer-dialog-container-v2 .designer-v2-preview-image img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
}
.designer-dialog-container-v2 .designer-v2-preview-image img {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  display: block;
}

.designer-dialog-container-v2 .designer-v2-photo-upload {
  background-color: #F7F7F7;
  display: flex;
  height: 4rem;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
}
.designer-dialog-container-v2 .designer-v2-photo-upload .designer-v2-photo-unfold {
  font-size: 26px;
  transform: rotate(90deg);
  transition: all .3s ease 0s;
}

.designer-dialog-container-v2 .designer-v2-photo-upload.close .designer-v2-photo-unfold {
  transform: rotate(180deg);
}
.designer-dialog-container-v2 .designer-v2-upload-container {
  padding: 0 5px;
  margin-top: 20px;
  margin-left: 0;
}
.designer-dialog-container-v2 .designer-v2-input-field-title {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 10px;
  display: block;
}
.designer-dialog-container-v2 .designer-v2-upload-item {
  border: 1px solid #d0d0d0;;
  border-radius: 4px;
  position: relative;
  z-index: 0;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 0;
  height: auto;
  display: flex;
  align-items: flex-end;
  margin: 10px 0;
  min-height: 52px;
}
.designer-dialog-container-v2 .designer-v2-upload-item-img {
  height: 100%;
  position: absolute;
  left: 15px;
  top: 0;
  z-index: 1;
  display: flex;
  justify-items: center;
}
.designer-dialog-container-v2 .designer-v2-upload-item-img img {
  width: auto;
  margin: 2px;
  height: 44px;
}
.designer-dialog-container-v2 .designer-v2-upload-item-img span {
  font-size: 16px;
  color: #131313;
  display: flex;
  align-items: center;
}
.designer-dialog-container-v2 .designer-v2-upload-item-btn {
  width: 100%;
  z-index: 1;
  border: none;
  position: relative;
  cursor: pointer;
}
.designer-dialog-container-v2 .designer-v2-upload-item-btn>div {
  height: 30px;
    position: absolute;
    right: 10px;
    top: -39px;
    z-index: 1;
    padding: 0 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #424242;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    border-radius: 20px;
    cursor: pointer;
    background: #000;
    width: 100px;
    text-align: center;
    text-transform: capitalize;
}